.boardContainer{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 150px));
    grid-template-rows: repeat(3, minmax(50px, 150px));
    background-color: floralwhite;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boardContainer div{
    border: 1px solid pink;
}